<html>

  <head>
    <title>LOCAL HOST SnapBuy - for you by us </title>

    <link rel="stylesheet" href="/css/content.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/productContent.css" />
    <link rel="stylesheet" href="/css/TwoContent.css" />
    <link rel="stylesheet" href="/css/productPlacement.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/AboutUs.css" />
    <link rel="stylesheet" href="/css/ContactUs.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/footer.css" />


  </head>

  <body>
    {{> header}} <!-- This includes the header partial -->

    <main class="content">
        {{{body}}}  <!-- This is where page-specific content gets inserted -->
    </main>

    {{> footer}} <!-- Includes the footer -->

  </body>

</html>