<div class = "home">
    <h1>WELCOME TO SNAPBUY</h1>
    <h2>The Future of Asian E-commerce</h2>
    <div>
        <br>
        At <strong> SnapBuy </strong>, we’re revolutionizing the way you shop and do business. Whether you're looking for home equipment,
        hobby gear, or anything else an e-commerce platform has to offer, we’ve got it all. Our platform connects buyers
        directly with a wide range of sellers, providing the best products for every need. <br> <br>

        But that’s not <strong> ALL</strong>! SnapBuy goes beyond just shopping. We empower you to not only choose products but also to
        connect with individual sellers and factories. Want to start your own online store? SnapBuy makes it easy by
        giving you the tools to establish your own e-commerce shop directly on our platform. <br> <br>

       <strong> Join us and explore the future of e-commerce today!</strong>
    </div>
</div>