<div class="signup-container">
    <form action="/signup" method="post">
        <h2>Sign Up</h2>
        <!-- Username input with placeholder -->
        <input type="text" id="username" name="username" placeholder="Username" required>

        <!-- Password input with placeholder -->
        <input type="password" id="password" name="password" placeholder="Password" required>

        <!-- Login button -->
        <button type="submit">Signup</button>
    </form>

    <!-- Signup button (You can redirect this to a signup page) -->
</div>